<app-navbar></app-navbar>
<!--<h2>Today's article</h2>-->
<br>
<!--<div>-->
<!--  <a href="{{article.url}}">{{article.title}}</a>-->
<!--</div>-->
<h2>Today's Articles:</h2>
<div *ngFor="let art of articles">
  <a href="{{art.url}}">{{art.title}}</a> <app-like></app-like>
</div>
<hr>
<div class="container">
  <div class="col-6 card border-primary">
      <h3 class="card-header bg-primary">Article information</h3>
      <table>
        <tr>
          <td>Title:</td>
          <td><textarea [(ngModel)]="article.title"></textarea></td>
        </tr>
        <tr>
          <td>Url:</td>
          <td><textarea [(ngModel)]="article.url"></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td><button style="float: right" (click)="addNewArticle()">Add</button></td>
        </tr>
      </table>
    </div>
</div>
<hr>


<app-footer></app-footer>
